body{
    background-image: url(IMG/background5.jpg);
    max-width: 960px;
    margin:0 auto;
    height: auto;
}
@font-face {
    font-family: Romance;
    src: url(FONTS/RomanceA.ttf);
}
@font-face {
    font-family: Cherrish;
    src: url(FONTS/Cherish.ttf);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  h1{
    color : #000000;
    font-size: 15px;
    font-weight: lighter;
    font-family: Cherrish;
    text-align: center;
}

butttext{
    color : #000000;
    font-size: 25px;
    font-weight: lighter;
    font-family: Cherrish;
}
h2{
color: #000000;
font-size: 35px;
font-weight: lighter;
font-family: Romance;
}

.wrapper {

    overflow: hidden;
}
.first {

    float:left;
}
.second {
    float: left;
    
    
}
br{
    width: 20px;
}
.column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
