body{
    background-image: url(../../IMG/background6.png);
    max-width: 960px;
    margin:0 auto;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  h1{
    color : #ffffff;
    font-size: 15px;
    font-weight: lighter;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

butttext{
    color : #ffffff;
    font-size: 25px;
    font-weight: lighter;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h2{
color: #ffffff;
font-size: 25px;

font-family: "Comic Sans MS", "Comic Sans", cursive;
justify-content: left;
}
h3{
    color: #ffffff;
font-size: 15px;
font-weight: lighter;
font-family: "Comic Sans MS", "Comic Sans", cursive;
justify-content: left;
}
h4{
    color: #ffffff;
font-size: 15px;
font-weight: lighter;
font-family: "Comic Sans MS", "Comic Sans", cursive;
justify-content: left;
}
h5{
    color: #ffffff;
    font-size: 20px;
    
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    justify-content: left;
    } 

.wrapper {

    overflow: hidden;
}
.first {

    float:left;
}
.second {
    float: left;
    
    
}
br{
    width: 20px;
}
.column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
